h1 {
    text-align: center;
}
div {
    text-align: center;
}
table{
    border-collapse: collapse;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width:50%;
}
td{
    border:2px solid brown;
    
}
ul{
    text-align: center;
}
.ing{
    text-align:left;
}
.ingcon{
    margin-left: 47%;
}
.button{
    padding: 2%;
}