
<h1>Random cocktail chooser</h1>
  <div *ngFor="let d of mydata.drinks">
    <div ><button class="button" (click)="getData()">Regenerate</button></div>
    <br>
    <table>
    <tr>
      <td class="cocktail-name" width="30%">Name:</td>
      <td>{{ d.strDrink }}</td>
    </tr>
    <tr>
      <td>Category:</td>
      <td>{{ d.strCategory }}</td>
    </tr>
    <tr>
      <td>Type:</td>
      <td>{{ d.strAlcoholic }}</td>
    </tr>
    <tr>
      <td>Glass type:</td>
      <td>{{ d.strGlass }}</td>
    </tr>     
  </table>
  <br>
    <img src="{{ d.strDrinkThumb }}" width="100" height="100">
    <br>
    <div>Instructions: {{ d.strInstructions }}</div>
    <br>
    <div>Istruzioni: {{d.strInstructionsIT}}</div>
    <br>
    <div>Ingredients:</div>
    <div class="ingcon">
    <div class="ing">{{ d.strIngredient1 }}</div>
    <div class="ing">{{ d.strIngredient2 }}</div>
    <div class="ing">{{ d.strIngredient3 }}</div>
    <div class="ing">{{ d.strIngredient4 }}</div>
    <div class="ing">{{ d.strIngredient5 }}</div>
    <div class="ing">{{ d.strIngredient6 }}</div>
    <div class="ing">{{ d.strIngredient7 }}</div>
    <div class="ing">{{ d.strIngredient8 }}</div>
    <div class="ing">{{ d.strIngredient9 }}</div>
    <div class="ing">{{ d.strIngredient10 }}</div>
    <div class="ing">{{ d.strIngredient11 }}</div>
    <div class="ing">{{ d.strIngredient12 }}</div>
    <div class="ing">{{ d.strIngredient13 }}</div>
    <div class="ing">{{ d.strIngredient14 }}</div>
    <div class="ing">{{ d.strIngredient15 }}</div>
  </div>
  </div>
