/* You can add global styles to this file, and also import other style files */
div, h1 {
font-family: fantasy, 'Times New Roman', Times, serif;
}
.bgcover{
    width:70%;
    background-color: wheat;
    margin-right: 15%;
    margin-left:15%;
    height:110%;
    padding-bottom: 3%;
}
body{
    background-image: url("assets/bgdrink.jpg");
    background-repeat: no-repeat;
    background-attachment:initial;
    background-size: cover;
}
